SECRET_KEY='bdwubdikqwbidbqediqodebf'

DB_NAME=startup
DB_USER=postgres
DB_PASSWORD=1
DB_HOST=localhost
DB_PORT=5432

#eskizniki (so'ranglar))

ESKIZ_EMAIL='shirinovdoniyorfx01@gmail.com'
ESKIZ_PASSWORD='Doniyor0101?'
ESKIZ_SENDER='4546'